# EDA

In [1]:
# ðŸ”¹ Import necessary libraries
import pandas as pd
import numpy as np
# ðŸ”¹ Load dataset
df = pd.read_csv(r"D:\Data analysis\Portofolio\orders.csv")
# ðŸ”¹ Display the first few rows of the dataset
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [2]:
df.info() # Get dataset structure and column types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [3]:
df['Order Date'] = pd.to_datetime(df['Order Date']) # ðŸ”¹ Convert "Order Date" column to datetime format
df.info() # Verify the data type change

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   datetime64[ns]
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 1.2+ MB

In [4]:
df[['cost price', 'List Price', 'Quantity']].describe() # Summary statistics for numerical columns

         cost price    List Price     Quantity
count   9994.000000   9994.000000  9994.000000
mean     201.189714    229.756854     3.789574
std      537.743203    623.245839     2.225110
min        0.000000      0.000000     1.000000
25%       20.000000     20.000000     2.000000
50%       50.000000     50.000000     3.000000
75%      180.000000    210.000000     5.000000
max    18110.000000  22640.000000    14.000000

In [5]:
df.nunique()# Count unique values per column

Order Id            9994
Order Date           730
Ship Mode              6
Segment                3
Country                1
City                 531
State                 49
Postal Code          631
Region                 4
Category               3
Sub Category          17
Product Id          1862
cost price           280
List Price           289
Quantity              14
Discount Percent       4
dtype: int64

In [6]:
# ðŸ”¹ Analyze "Ship Mode" distribution

df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [7]:
df['Ship Mode'].value_counts() # Calculate distribution of ship modes

Ship Mode
Standard Class    5962
Second Class      1945
First Class       1538
Same Day           543
Not Available        4
unknown              1
Name: count, dtype: int64

In [8]:
# I will treat unknow values as null values
df['Ship Mode'] = df['Ship Mode'].replace('unknown', np.nan)
df['Ship Mode'].unique() # Verify replacement of missing values

array(['Second Class', 'Standard Class', 'Not Available', nan,
       'First Class', 'Same Day'], dtype=object)

In [9]:
df['Segment'].value_counts()/9994*100 # Percentage distribution of customer segments

Segment
Consumer       51.941165
Corporate      30.218131
Home Office    17.840704
Name: count, dtype: float64

In [10]:
df['Category'].value_counts()/9994*100 # Percentage distribution of product categories

Category
Office Supplies    60.296178
Furniture          21.222734
Technology         18.481089
Name: count, dtype: float64

In [11]:
grouped_Category = df[['Category', 'Sub Category']].groupby(['Category', 'Sub Category'])
grouped_Category.agg(func='count')  # Count items in each category subgroup

Empty DataFrame
Columns: []
Index: [(Furniture, Bookcases), (Furniture, Chairs), (Furniture, Furnishings), (Furniture, Tables), (Office Supplies, Appliances), (Office Supplies, Art), (Office Supplies, Binders), (Office Supplies, Envelopes), (Office Supplies, Fasteners), (Office Supplies, Labels), (Office Supplies, Paper), (Office Supplies, Storage), (Office Supplies, Supplies), (Technology, Accessories), (Technology, Copiers), (Technology, Machines), (Technology, Phones)]

In [12]:
# ðŸ”¹ Create new columns for financial calculations

df['discount_value'] = df['List Price'] * df['Discount Percent']/100 # Calculate discount amount
df['final_price'] = df['List Price'] - df['discount_value'] # Final price after discount
df['profit'] = df['final_price'] - df['cost price'] # Compute profit

In [13]:
# ðŸ”¹ Aggregate profit by "Category" and "Sub Category"

grouped_Category = df[['Category', 'Sub Category', 'profit']].groupby(['Category', 'Sub Category'], sort=True).agg('sum')

# ðŸ”¹ Sort categories based on total profit in descending order
sorted_grouped_Category = grouped_Category.sort_values(by='profit', ascending=False)
sorted_grouped_Category # Display sorted results

                               profit
Category        Sub Category
Furniture       Chairs        29815.1
Technology      Phones        28368.3
Office Supplies Storage       19538.0
                Binders       19208.6
Furniture       Tables        18591.2
Technology      Machines      18121.7
                Accessories   15444.6
                Copiers       14498.9
Furniture       Bookcases     10496.1
Office Supplies Appliances    10267.7
Furniture       Furnishings    7578.3
Office Supplies Paper          6001.3
                Supplies       3438.1
                Art            1859.8
                Envelopes      1247.2
                Labels          644.9
                Fasteners        48.9

In [14]:
# ðŸ”¹ Remove unnecessary columns to clean up the dataset
df.drop(columns=['List Price', 'cost price', 'Discount Percent'], inplace=True)
df.head() # Display final cleaned dataset

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,discount_value,final_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [15]:
import sqlalchemy as sal
driver = 'ODBC Driver 17for SQL Server'
engine = sal.create_engine(f'mssql://DESKTOP-K29E0U5/master?driver={driver}')
conn = engine.connect()

InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/20/rvf5)

In [16]:
import sqlalchemy as sal

# Fix the driver name - there was a missing space between '17' and 'for'
driver = 'ODBC Driver 17 for SQL Server'

# Fix the connection string format to use the proper pyodbc connection string format
# The format should be: 'mssql+pyodbc://server/database?driver=driver_name'
engine = sal.create_engine(f'mssql+pyodbc://DESKTOP-K29E0U5/master?driver={driver}')

conn = engine.connect()

In [23]:
df.to_sql('df_orders', con=conn,index=False,if_exists='replace')

38

In [22]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'Quantity', 'discount_value', 'final_price', 'profit'],
      dtype='object')